body{
    color: brown;
}
table{
    border: 1px dotted darkcyan;
    margin: auto;
    text-align: left;
}
th, td{
    padding: 5px 10px;
    margin: 55px;
}
td{
    width: 120px;
}
.idArticulo{
    width: 50px;
}